
.app-title {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 50px;
}
.content h5 {
  margin-bottom: 25px;
}
.home-container {
  display: flex;
  height: 80vh;
  max-width: 1200px;
  margin: auto;
}
.reverse {
  flex-direction: row-reverse;
}
.home-container .content {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home-container .home-background-image {
  width: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 45px;
}
.keyboard-img {
  background-image: url('/keyboard_hello.jpg');
}
.stock-model-img {
  background-image: url('/stock-model.jpg');
}

@media screen and (max-width: 965px) {
  .home-background-image,
  .stock-model-img,
  .keyboard-img {
    display: none;
  }
  .home-container {
    justify-content: center;
  }
}